@import "tailwindcss";


:root {
    --golden-yellow: #F2CB05;
    --pastel-purple: #F1C4F2;
    --soft-lavender: #D8D0F2;
    --light-gray: #F2F2F2;
    --light-gold: #F2DF7E;
    --dark-text-or-background: #212325;
    --border-gray: #F3F3F3;
    --text-gray: #7A7B7D;
    --very-light-gray: #F2F2F2;
    --vivid-green: #23D972;
    --white: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Mona sans";
    overflow-x: hidden;
}

#homepage {
    background: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Questrial", sans-serif;
    margin: 0 !important;
}

.sidebar-navigation .active>.active-link {
    background: var(--dark-text-or-background);
    color: var(--white);
}